---
---

@import "{{ site.theme }}";

body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;

}

div {
  background-color: blue;
  color: white;
}
