---
---

@import "{{ site.theme }}";

body {
  background-color: #EFE3E3;
  height: 10px;  
  color: black;
}

h1 {
  color: #754C4C;
}

div {
  color:#543A3A;

}
a {
  color:#735151;
}

h2 {
color: #543A3A;
}

