---
---

@import "{{ site.theme }}";

body {
  background-color: #EFE3E3;
  color: black;
}

h1 {
  color: yellow;
  border-radius: 25px;
  border: 2px solid #FECECE;
  padding: 20px; 
  width: 230px;
  height: 10px;  

}

div {
  background-color: blue;
  color: white;
}
